## **SQL for Data Science with Python**

### Introduction

Hello !

My name is Taufiq Fajri and this Notebook is created to finish my Peer Assignment in this [course](https://www.coursera.org/learn/sql-data-science)

Note that the datasets, and problems provided by the course.

### The Datasets



This assignment requires these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>

#### Connect to the database


To analyze the data using SQL, it first needs to be stored in the database.

This assignment is required the data to be stored in **CLOUD IBM DB2**, so this notebook will connect to the DB2 cloud.


Read the DB2 on Cloud documentation [here](https://www.ibm.com/docs/en/db2oc?topic=cloud-overview)

### Connecting to DB and importing library

In [1]:
import sqlalchemy
from sqlalchemy import *
import ibm_db_sa

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://myh70408:*********@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB?security=SSL

### Fetching Metadata

#### Tables List

In [4]:
%sql SELECT TABNAME from SYSCAT.TABLES where TABSCHEMA = 'MYH70408'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('PETSHOP',),
 ('BOOKSHOP',),
 ('BOOKSHOP_AUTHORDETAILS',),
 ('EMPLOYEES',),
 ('JOB_HISTORY',),
 ('JOBS',),
 ('DEPARTMENTS',),
 ('LOCATIONS',),
 ('PERSON',),
 ('PETRESCUE',),
 ('INSTRUCTOR',),
 ('INTERNATIONAL_STUDENT_TEST_SCORES',),
 ('CHICAGO_SOCIOECONOMIC_DATA',),
 ('CHICAGO_CRIME_DATA',),
 ('CHICAGO_CENSUS_DATA',),
 ('CHICAGO_PUBLIC_SCHOOLS',),
 ('SCHOOLS',)]

#### Column Data for Chicago_Crime_Data

In [5]:
%sql SELECT COLNAME from SYSCAT.COLUMNS where TABNAME ='CHICAGO_CRIME_DATA'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('ARREST',),
 ('BEAT',),
 ('BLOCK',),
 ('CASE_NUMBER',),
 ('COMMUNITY_AREA_NUMBER',),
 ('DATE',),
 ('DESCRIPTION',),
 ('DISTRICT',),
 ('DOMESTIC',),
 ('FBICODE',),
 ('ID',),
 ('IUCR',),
 ('LATITUDE',),
 ('LOCATION',),
 ('LOCATION_DESCRIPTION',),
 ('LONGITUDE',),
 ('PRIMARY_TYPE',),
 ('WARD',),
 ('X_COORDINATE',),
 ('YEAR',),
 ('Y_COORDINATE',)]

#### Column For CHICAGO_CENSUS_DATA

In [6]:
%sql SELECT COLNAME from SYSCAT.COLUMNS where TABNAME ='CHICAGO_CENSUS_DATA'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('HARDSHIP_INDEX',),
 ('PERCENT_AGED_16_UNEMPLOYED',),
 ('PERCENT_AGED_25_WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PER_CAPITA_INCOME',)]

#### Column For CHICAGO_PUBLIC_SCHOOL

In [7]:
%sql SELECT COLNAME from SYSCAT.COLUMNS where TABNAME ='CHICAGO_PUBLIC_SCHOOLS'

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('10th_Grade_PLAN_2009',),
 ('10th_Grade_PLAN_2010',),
 ('11th_Grade_Average_ACT_2011',),
 ('9th_Grade_EXPLORE_2009',),
 ('9th_Grade_EXPLORE_2010',),
 ('ADEQUATE_YEARLY_PROGRESS_MADE',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('AVERAGE_TEACHER_ATTENDANCE',),
 ('CITY',),
 ('COLLABORATIVE_NAME',),
 ('COLLEGE_ELIGIBILITY',),
 ('COLLEGE_ENROLLMENT',),
 ('COLLEGE_ENROLLMENT_RATE',),
 ('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('CPS_PERFORMANCE_POLICY_LEVEL',),
 ('CPS_PERFORMANCE_POLICY_STATUS',),
 ('ELEMENTARY_MIDDLE_OR_HIGHSCHOOL',),
 ('ENVIRONMENT_ICON',),
 ('ENVIRONMENT_SCORE',),
 ('FAMILY_INVOLVEMENT_ICON',),
 ('FAMILY_INVOLVEMENT_SCORE',),
 ('FRESHMAN_ON_TRACK_RATE',),
 ('GENERAL_SERVICES_ROUTE',),
 ('GR3_5_GRADE_LEVEL_MATH',),
 ('GR3_5_GRADE_LEVEL_READ',),
 ('GR3_5_KEEP_PACE_MATH',),
 ('GR3_5_KEEP_PACE_READ',),
 ('GR6_8_GRADE_LEVEL_MATH',),
 ('GR6_8_GRADE_LEVEL_READ',),
 ('GR6_8_KEEP_PACE_MATH',),
 ('GR6_8_KEEP_PACE_READ',),
 ('GRADUATION_RATE',),
 ('GR_8_EXPLORE_MATH',),
 ('GR_8_EXPLORE_READ',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE',),
 ('INSTRUCTION_ICON',),
 ('INSTRUCTION_SCORE',),
 ('ISAT_EXCEEDING_MATH',),
 ('ISAT_EXCEEDING_READING',),
 ('ISAT_VALUE_ADD_COLOR_MATH',),
 ('ISAT_VALUE_ADD_COLOR_READ',),
 ('ISAT_VALUE_ADD_MATH',),
 ('ISAT_VALUE_ADD_READ',),
 ('LATITUDE',),
 ('LEADERS_ICON',),
 ('LEADERS_SCORE',),
 ('LINK',),
 ('LOCATION',),
 ('LONGITUDE',),
 ('NAME_OF_SCHOOL',),
 ('NETWORK_MANAGER',),
 ('NET_CHANGE_EXPLORE_AND_PLAN',),
 ('NET_CHANGE_PLAN_AND_ACT',),
 ('PARENT_ENGAGEMENT_ICON',),
 ('PARENT_ENGAGEMENT_SCORE',),
 ('PARENT_ENVIRONMENT_ICON',),
 ('PARENT_ENVIRONMENT_SCORE',),
 ('PHONE_NUMBER',),
 ('PK_2_LITERACY',),
 ('PK_2_MATH',),
 ('POLICE_DISTRICT',),
 ('RATE_OF_MISCONDUCTS_PER_100_STUDENTS',),
 ('SAFETY_ICON',),
 ('SAFETY_SCORE',),
 ('SCHOOL_ID',),
 ('STATE',),
 ('STREET_ADDRESS',),
 ('STUDENTS_PASSING_ALGEBRA_',),
 ('STUDENTS_TAKING_ALGEBRA',),
 ('TEACHERS_ICON',),
 ('TEACHERS_SCORE',),
 ('TRACK_SCHEDULE',),
 ('WARD',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('ZIP_CODE',)]

## Problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql select COUNT(*) as TOTAL_CRIMES from CHICAGO_CRIME_DATA;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [9]:
%%sql 
select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME 
from CHICAGO_CENSUS_DATA 
where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [10]:
%%sql 
select CASE_NUMBER, DESCRIPTION
from CHICAGO_CRIME_DATA 
where DESCRIPTION LIKE '%MINOR%' 
ORDER BY CASE_NUMBER;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('HK238408', 'ILLEGAL CONSUMPTION BY MINOR'),
 ('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [11]:
%%sql select CASE_NUMBER, DESCRIPTION from CHICAGO_CRIME_DATA 
where DESCRIPTION like '%CHILD%';

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('HN567387', 'AGG SEX ASSLT OF CHILD FAM MBR'),
 ('HR391350', 'SEX ASSLT OF CHILD BY FAM MBR'),
 ('HN144152', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [12]:
%%sql 
select PRIMARY_TYPE, DESCRIPTION, LOCATION_DESCRIPTION 
from CHICAGO_CRIME_DATA 
where LOCATION_DESCRIPTION like '%SCHOOL%';

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for each type of school.

In [13]:
%%sql 
select ELEMENTARY_MIDDLE_OR_HIGHSCHOOL, AVG(SAFETY_SCORE) as AVERATE_SAFETY
from CHICAGO_PUBLIC_SCHOOLS
group by ELEMENTARY_MIDDLE_OR_HIGHSCHOOL;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [14]:
%%sql 
select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME
from CHICAGO_CENSUS_DATA 
where PER_CAPITA_INCOME > 
(select AVG(PER_CAPITA_INCOME) from CHICAGO_CENSUS_DATA)
fetch first 5 rows only;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[(3, 'Uptown', 35787),
 (4, 'Lincoln Square', 37524),
 (5, 'North Center', 57123),
 (6, 'Lake View', 60058),
 (7, 'Lincoln Park', 71551)]

### Problem 8

##### Which community area is most crime prone?

In [15]:
%%sql
select COMMUNITY_AREA_NUMBER, count(CASE_NUMBER) as NUMBER_OF_CASES 
from CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY NUMBER_OF_CASES desc
LIMIT 1;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[(25, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [16]:
%%sql
select COMMUNITY_AREA_NAME, HARDSHIP_INDEX
from CHICAGO_CENSUS_DATA
order by HARDSHIP_INDEX DESC
LIMIT 1,5 ;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('Riverdale', 98),
 ('Fuller Park', 97),
 ('South Lawndale', 96),
 ('Englewood', 94),
 ('Gage Park', 93)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [17]:
%%sql
select S.COMMUNITY_AREA_NAME, count(R.CASE_NUMBER) as NUMBER_OF_CASES
from CHICAGO_CENSUS_DATA S, CHICAGO_CRIME_DATA R
where S.COMMUNITY_AREA_NUMBER = R.COMMUNITY_AREA_NUMBER
GROUP BY S.COMMUNITY_AREA_NAME
ORDER BY NUMBER_OF_CASES DESC 
fetch first 1 rows only;

 * ibm_db_sa://myh70408:***@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/BLUDB
Done.

[('Austin', 43)]